RedoxExtensions.Tests/obj
RedoxExtensions.Tests/bin
RedoxExtensions.Wrapper/obj
RedoxExtensions/obj
RedoxLib.Tests/obj
RedoxLib/obj
RedoxFilter/obj
bin
TestResult.xml
.vs/config/applicationhost.config
.vs/RedoxExtensions/v14/.suo
.vs/RedoxExtensions/v15/sqlite3/storage.ide
*.suo
